
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
         <title>Stance</title>
         <link rel="stylesheet" href="{% static 'style.css' %}">
         <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
         <script src="http://d3js.org/d3.v5.js"></script>
         <script src="{% static 'app.js' %}" charset="utf-8" defer></script>
   </head>
   <body>
      <header>
         <h1><a href="{% url 'home' %}">Stance</a></h1>
         <a href="#">About</a>
         <a href="{% url 'login_user' %}">Login</a>
         <a href="{% url 'logout_user' %}">Log Out</a>
         <a href="{% url 'signup_user' %}">Sign Up</a>
      </header>

      <main>
         {% include "stance/graph.html" %}
      </main>

      <aside>
         {% block aside %}
         {% endblock %}
      </aside>

      <footer> Stance &copy; 2018, all rights reserved
      </footer>

   </body>
</html>
