

/* BASE STYLES ================================ */

* {
  box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
   font-family: 'Encode Sans', sans-serif;
   box-sizing: border-box;
}

h1 {
   font-family: 'Comfortaa', cursive;
   font-size: 4em;
   text-transform: uppercase;
}

h3 {
   padding: 1em 0;
}

/* NAV and FOOTER STYLES ================================ */

a {
   text-decoration: none;
}

nav, footer {
   background-color: steelblue;
   line-height: 2em;
   /* color: white; */
}

nav a, nav div ul li a {
   transition: .3s all ease-in-out;
}

.stn-logo {
   font-family: 'Comfortaa', cursive;
   font-weight: 800;
   color: white;
   font-size: 2em;
   text-transform: uppercase;
}

.stn-logo:hover {
   color: rgba(255,255,255,.75);
}

.stn-link {
    margin-left: .6em;
}

footer {
   padding: 1em;
   text-align: center;
   color: rgba(222, 222, 222, .4);
}

/* MAIN STYLES ================================ */

main {
   width: 100%;
   min-height: 75vh;
   border: 1px solid #aaa;
   background-color: #eaeaea;
   border-radius: 10px;
}

.stn-flex {
   display: flex;
   flex-direction: row;
   background-color: #dedede;
}

.stn-col {
   width: 100%;
   margin-top: 1em;
   margin-bottom: 1em;
   padding: 1em;
   /* background-color:#dedede; */
   justify-content: center;
}


/* FORMS STYLES ================================ */

input {
    display: block;
    margin: 5px 0 20px 0;
    padding: 9px;
    border: solid 1px black;
    width: 100%;
    background: whitesmoke;
}

input[type=submit] {
    width: auto;
    padding: 9px 15px;
    background-color: #fefefe;
    border: 0;
    font-size: 14px;
    color: #fff;
}

button {
   padding: .5em 1em;
   border-radius: 5px;
   background-color: steelblue;
   color: white;
   border: 2px solid #28578e;
   transition: .3s all ease-in-out;
}

.btn-delete {
  height: 20px;
  margin-top: 2px;
  margin-left: 8px;
}

.ticker_data_set a {
  line-height: 1em;
}

button:hover {
   background-color: #265c89;
}

.btn-delete {
   height: 20px;
   margin-top: 2px;
   margin-left: 8px;
}

.ticker_data_set a {
   line-height: 1em;
}

.btn-grn {
   background-color: #b9d170;
   border: 2px solid #85877b;
   color: #000000;
}

.btn-red {
   background-color: #e88761;
   border: 2px solid #8d7771;
   color: #000000;
}

.adjust-chart {
   display: inline-block;
   margin-left: 20px;
   padding-top: 10px;
   color: steelblue;
}

.adjust-chart.selected {
   text-decoration: underline;
}

/* STOCK TICKER DATA STYLES ================================= */

input {
   border-radius: 5px;
   border-color: #aaa;
}

ul {
   padding: 0;
}

li {
   list-style-type: none;
}

.ticker_info {
   display: inline-block;
   width: 30%;
   border-radius: 6px;
}

.ticker_data_set {
   display: flex;
   justify-content: space-between;
   padding: 5px 10px 5px 10px;
   margin-bottom: 10px;
   border: 1px solid #aaa;
   text-align: center;
   border-radius: 5px;
   background-color: #eaeaea;
   box-sizing: border-box;
}

#stock_list {
   display: none;
}

.gain {
   background-color: #99e88d;
}

.loss {
   background-color: #e89d7f;
}

.displayed {
   border: 2px solid steelblue;
   line-height: calc(1.5em - 2px);
}

/* ABOUT STYLES ================================= */
.about-us {
   display: flex;
   justify-content: space-between;
}

.about-us .text {
   padding-left: 10px;
}

.btn-sign-up {
   margin-top: .5em;
   font-size: 1.5em;
   width: 100%;
   text-transform: uppercase;
   /* padding: 1em; */
}

.btn-sign-up:hover {
   cursor: pointer;
}

.sign-up ul, .helptext {
   display: none;
}

/* ABOUT STYLES ================================= */
@media screen and (max-width: 800px){
   .stn-flex{
      flex-direction: column-reverse;
   }

   h1 {
      display: none;
   }
}
